* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 32px;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
}

#card {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -325px;
    margin-left: -600px;
    width: 1200px;
    height: 650px;
    display: flex;
    align-items: center;
}

#quote-icon {
    position: absolute;
    left: 3rem;
    top: 3.55rem;
}

#quote #phrase {
    line-height: 1.5;
    font-size: 1rem;
    width: 52.6%;
    font-weight: 300;
    color: hsl(240, 38%, 20%);
    margin-bottom: 1rem;
}

#quote #author {
    font-size: 0.65rem;
    color: hsl(240, 38%, 20%);
    font-weight: 700;
}

#quote #author span {
    color: hsl(240, 18%, 77%);
    font-weight: 300;
}

#pictures img {
    position: absolute;
    z-index: -1;
    right: 2.75rem;
    top: 0.4rem;
}

#author-image {
    border-radius: 5px;
}

#back-image {
    top: -1.6rem !important;
    right: -0.05rem !important;
}

#curved-image {
    position: absolute;
    top: 17rem;
    left: -4.5rem;
}

#buttons {
    display: flex;
    position: absolute;
    right: 14rem;
    bottom: 2.1rem;
    border-radius: 50%;
    box-shadow: 0px 15px 25px #ccc;
}

#buttons button {
    background-color: #fff;
    border: 0;
    outline: 0;
    padding: 18px;
    cursor: pointer;
    transition: 300ms ease;
}

#buttons button:first-child {
    border-radius: 50% 0 0 50%;
    padding-right: 22px;
}


#buttons button:last-child {
    border-radius: 0 50% 50% 0;
    padding-left: 22px;
}

#buttons button:hover {
    background-color: #eee;
}

#buttons button:disabled {
    cursor: default;
}

#buttons button:disabled:hover {
    background-color: #fff;
}

@media (max-width: 1210px) {

    html {
        font-size: 28px;
    }
    
    #card {
        margin-top: -225px;
        margin-left: -400px;
        width: 800px;
        height: 450px;
    }

    #quote #phrase {
        width: 69.1%;
    }
    img {
        width: 50%;
    }

    #pictures img {
        right: -3.5rem;
        top: -0.65rem;
    }

    #quote-icon {
        width: 12%;
        left: 3.1rem;
        top: 1.7rem;
    }

    #back-image {
        width: 65%;
        top: -2.48rem !important;
        right: -5.8rem !important;
    }

    #curved-image {
        width: 65%;
        top: 15rem;
        left: -5rem;
    }

    #buttons {
        right: 6rem;
        bottom: 1.7rem;
    }
    
    #buttons button {
        padding: 15px;
    }
    
    #buttons button:first-child {
        padding-right: 20px;
    }
    
    
    #buttons button:last-child {
        padding-left: 20px;
    }
    
}

@media (max-width: 845px) {
    
    html {
        font-size: 24px;
    }
    
    #card {
        margin-top: -150px;
        margin-left: -300px;
        width: 650px;
        height: 300px;
    }

    #quote #phrase {
        width: 58.3%;
        font-size: 0.8rem;
    }

    #quote #author {
        font-size: 0.60rem
    }

    img {
        width: 45%;
    }

    #pictures img {
        right: 0.5rem;
        top: -1.1rem;
    }

    #quote-icon {
        width: 11%;
        left: 2.35rem;
        top: 0.92rem;
    }

    #back-image {
        width: 58%;
        top: -2.65rem !important;
        right: -0.95rem !important;
    }

    #curved-image {
        width: 60%;
        top: 12rem;
        left: -3rem;
    }

    #buttons {
        right: 7.9rem;
        bottom: 0.6rem;
    }
    
    #buttons button {
        padding: 12px;
    }
    
    #buttons button:first-child {
        padding-right: 18px;
    }
    
    
    #buttons button:last-child {
        padding-left: 18px;
    }
    
}

@media (max-width: 665px) {

    #card {
        width: 325px;
        height: 585px;
        margin-top: calc(-585px / 2);
        margin-left: calc(-325px / 2);
    }

    #quote #phrase {
        padding-top: 15rem;
        width: 101%;
        text-align: center;
        margin-bottom: 0.6rem;
    }

    #quote #author {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.65rem;
    }

    #quote-icon {
        width: 20%;
        left: 5.48rem;
        top: 8rem;
    }

    #pictures img {
        width: 75%;
        right: 1.5rem;
        top: 2rem;
    }

    #pictures #back-image {
        width: 95%;
        top: 0.82rem !important;
        left: 0.58rem !important;
    }

    #curved-image {
        width: 100%;
        top: 24.5rem;
        left: -1.9rem;
    }

    #buttons {
        right: 4.9rem;
        bottom: 11.15rem;
    }

    #buttons img {
        width: 85%;
    }

    #buttons button {
        padding: 10px;
    }

    #buttons button:first-child {
        padding-right: 15px;
    }
    
    
    #buttons button:last-child {
        padding-left: 15px;
    }
    
}

@media (max-width: 335px) {
    #card {
        width: 300px;
        margin-left: -150px;
    }

    #quote #phrase {
        padding-top: 11.7rem;
        width: 90%;
        margin: 0px auto;
        margin-bottom: 0.6rem;
        font-size: 0.65rem;
    }

    #quote #author {
        font-size: 0.60rem;
    }

    #quote-icon {
        width: 18%;
        left: 5.15rem;
        top: 13.05rem;
    }

    #curved-image {
        width: 100%;
        top: 22rem;
        left: -0.9rem;
    }

    #buttons {
        bottom: 12.18rem;
    }

}